.body_section {
    background-color: aliceblue;

}

.header_section {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: grey;
    color: white;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    padding: 50px;
}

body {
    background-color: rgb(233, 226, 230);
}

.top_section {
    display: flex;

}

.top_hadding {
    font-size: x-large;
    color: darkgreen;
}

.missiom_top {
    color: tomato;
}

.click_button {
    background-color: rgb(193, 158, 226);
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.half_width {
    width: 100%;
    padding: 7%;

}

.half_width img {
    width: 100%;
}

.mission_section {
    display: flex;
    margin-left: 60PX;
    margin-right: 60PX;


}

.mission_pic {
    width: 50%;
}

.second_section {
    background-color: rgb(240, 225, 220);
    width: 100%;
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px hotpink;
}

.my_mission_area {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.limites_section {
    color: crimson;
}

.corona_section {
    color: darkred;
    font-size: xx-large;
    text-align: center;

}

.corona_heading {
    color: red;

}

.footer_section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}