.body_section {
    background-color: aliceblue;
    padding: 10px;
}

.header_section {
    background-color: rgb(243, 223, 209);
    color: blue;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    padding: 50px;
}

body {
    background-color: rgb(233, 226, 230);
}

.top_section {
    display: flex;

}

.top_hadding {
    font-size: x-large;
    color: darkgreen;
}

.missiom_top {
    color: tomato;
}

.click_button {
    background-color: rgb(193, 158, 226);
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.half_width {
    width: 100%;
    padding: 7%;

}

.half_width img {
    width: 100%;
}

.mission_section {
    display: flex;

}

.mission_pic {
    width: 50%;
}

.second_section {
    background-color: rgb(240, 225, 220);
    width: 100%;
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px hotpink;
}

.my_mission_area {
    text-align: center;
    font-size: xx-large;
}

.limites_section {
    color: crimson;
}

.corona_section {
    color: darkred;
    font-size: xx-large;
}